html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
 
}
  @font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.ttf);
    font-style: normal;
  }

  body {
    font-size: 4vw;
      font-family: 'Calibri';
      text-transform: lowercase;
      list-style: none;
        background-color: #f0c900;
        height: 100vh;

}

/*ПЕРВАЯ СТРОКА*/

#startReading{
  margin-top: 20%;
}

#sitehead{
height:auto;
margin-bottom: 1vh;
max-height: 44vh;
}
/*ГЛАВНОЕ ФОТО
.map-img{
  max-height: 55vh;
}
*/
#map{
    height: 52vh;
}
.map-block{
  background-image: url(../img/location.jpg);
  height: 52vh;
background-position: center;
background-size: contain;
}
/*ПЛЕЕР*/
.progress {
  height: 3px;
}

.audio-player {
  width: 100%;
  > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
      border-bottom-left-radius: 0;
  }
  > .btn:last-child:not(:first-child), 
  > .dropdown-toggle:not(:first-child) {
    border-bottom-right-radius: 0;
  }
  .btn-secondary:focus {
    box-shadow: none;
  }
}



/**/

/*TABS*/





.tab-links{

}

.tab-link{
  box-sizing: border-box;
  font-size: 3.5vh;
  border: none;
  border-radius: 0px;
  padding:0px;
  margin-top: 2px;
  line-height: 5.3vh;
  width: auto;
  font-weight: 900;
  cursor: pointer;
}
.tab-link>span{
  color: white;
  background-color: #212125;
  margin-left: 3px;
  padding: 2px;
}
.tab-pane{
height: 100%;
position: relative;
padding-left: 2vw;

}
.tab-cont{
  overflow-y: auto;
overflow-x: hidden;
height: 51vh;
}

#tabMenu{
  position: relative;
  height: 15%;
}

.lstuff{
  color: white;
  background-color: #212125;
height: 51vh;
overflow-y: hidden;
box-sizing: border-box;

}
.lstuff>div{
   transform: rotate(-90deg);
   font-size: 9vh;
   position: relative;
   bottom:-33vh;
   right: 1vw;
   font-weight: bold;
   line-height: 9vh;
}

.tab-link:hover{
  color: white;
   text-decoration: none;
}
/*.tab-link.active{
  color: white;
  background-color: #212125;
  display: none;
}*/
.tab-link a{
  text-decoration: none;
}


@media screen and (min-width: 996px) {

 .tab-cont{
height: 90vh;
}
.lstuff{
height: 90vh;
}

  
}


.inst{
  position: absolute;
  transform: rotate(-90deg);
  bottom: 70vw;
  left: 52vw;
 
}
.inst>a{
   color: #212125;
}
/*Инфо*/
#v-pills-history{

}
#v-pills-aim>p{
text-transform: none;
}
.thanks-ul>li{
  position: relative;
  right: 40px;
  list-style: none;
  text-transform: none; 
}
.clin-ul>li{
  position: relative;
  right: 40px;
  list-style: none;
}
 /*ТЕКСТ*/
 .font-cabin{
   font-family: Cabin, sans-serif;
 }
 .gray-header{
   color: #2f3f50;
 }
 .lh-2{
   line-height: 2em;
 }
.footer-1{

  width: auto;
  font-size: 7vw;
  position: absolute;
  bottom: 3%;
  left:4.5vw;
  height: 5%;
}
.footer-1>a{
  color:white;
text-decoration: none;

  }
.footer-1>a>span{
  text-align: right;
  color: white;
  background-color: #212125;
  }
  .footer-1>i{
font-size: 25px;
  cursor:pointer;
  }
#carouselExampleControls{
  position: relative;
  top: 2px;
}


.oplata{
  color: white;
  background-color: #212125;
  border-radius: 0px;
}




.tab {
    overflow: hidden;
}


.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}


.tab a:hover {
    background-color: #212125;
}


.tab a.active {
    display: none;
}


.tabcontent {
    display: none;
      border-top:2vh solid white;
      height: 53vh;
box-sizing: border-box;
}

.text-block{
    color: white;
  background-color: #212125;
  margin-left: 3px;
  font-size: 25px;
  padding-left: 3px;
  padding-right: 3px;
}











/* Оформление панели */
#side-checkbox {
    display: none;
}
#side-checkbox-1 {
    display: none;
}
.side-panel {
    position: fixed;
    z-index: 999999;
    bottom: 0;
    right: -100vw;
    background-color: #f0c900;
    transition: all 0.5s;   
    width: 90vw;
    height: 54vh;
    box-shadow: -10px 0 20px rgba(0,0,0,0.4);
    color: #212125;
    padding-left: 20px;
    padding-right: 10px;
    text-transform: none;
}
.side-title {
    font-size: 20px;
}
/* Оформление кнопки на странице */
.side-button-1-wr {
    text-align: center; /* Контейнер для кнопки, чтобы было удобнее ее разместить */
}
.side-button-1 .side-b {
    font-weight: bold;
    cursor: pointer; 

}
.side-button-1 .side-b:hover,
.side-button-1 .side-b:active,
.side-button-1 .side-b:focus {
    color: #FFF;
}
.side-button-1 .side-b:after,
.side-button-1 .side-b:before {
    position: absolute;
    height: 4px;
    left: 50%;
    bottom: -6px;
    content: "";
    transition: all 280ms ease-in-out;
    width: 0;
}
.side-button-1 .side-open:after,
.side-button-1 .side-open:before {
    background: green;
}
.side-button-1 .side-close:after,
.side-button-1 .side-close:before {
    background: red;
}
.side-button-1 .side-b:before {
    top: -6px;
}
.side-button-1 .side-b:hover:after,
.side-button-1 .side-b:hover:before {
    width: 100%;
    left: 0;
}
/* Переключатели кнопки 1 */
.side-button-1 .side-close {
    display: none;
}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-open {
    display: none;
}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-close {
    display: block;
}
#side-checkbox:checked + .side-panel {
    right: 0vw;
}
#side-checkbox-1:checked + .side-panel + .side-button-1-wr .side-button-1 .side-open {
    display: none;
}
#side-checkbox-1:checked + .side-panel + .side-button-1-wr .side-button-1 .side-close {
    display: block;
}
#side-checkbox-1:checked + .side-panel {
    right: 0vw;
}

/* Оформление кнопки на панеле */
.side-button-2 {
    font-size: 30px;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    top: -2.5vw;
    left: 2vw;
    cursor: pointer;
    transform: rotate(45deg);
    color:#212125;
    transition: all 280ms ease-in-out;    
}
.side-button-2:hover {
    transform: rotate(45deg) scale(1.1);    
    color:#212125;
}
