html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}
  @font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.ttf);
    font-style: normal;
  }

  body {
      font-family: 'Calibri';
      text-transform: lowercase;
      list-style: none;
        font-size: 4vw;
        background-color: #f0c900;
        height: 100vh;

}

/*ПЕРВАЯ СТРОКА*/

#startReading{
  margin-top: 20%;
}

.header-text-row{
   height: 5%;
}
.site-header-1{
text-align: center;
letter-spacing: 0.5vw;
color: gray;
}
.site-header-1>.head-clin-text{
  color: red;
  background-color: none;
}
.site-header-2{
text-align: center;
//*letter-spacing: 0.85vw;*//
color: black;
}
.site-header-2>.head-clin-text{
  background-color: red;
  color: white;
  position: relative;
}
/*ГЛАВНОЕ ФОТО*/
.main-img{
  border-bottom: 4px solid gray;
}

/*ПЛЕЕР*/
.progress {
  height: 3px;
}

.audio-player {
  width: 100%;
  > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
      border-bottom-left-radius: 0;
  }
  > .btn:last-child:not(:first-child), 
  > .dropdown-toggle:not(:first-child) {
    border-bottom-right-radius: 0;
  }
  .btn-secondary:focus {
    box-shadow: none;
  }
}


/*РИСУНОК КЛИНИКИ*/
.clinic-img{

}

/**/

/*ИНФО*/

}
.tab-links{
  width: 100px;
}
.tab-content{
  height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.tab-link{
  box-sizing: border-box;
  font-size: 3.5vh;
  border: none;
  border-radius: 0px;
  padding:0px;
  margin: 0px;
  line-height: 5.3vh;
  width: auto;
  font-weight: 900;
}
.tab-link>span{
  color: white;
  background-color: #212125;
  margin-left: 3px;
  padding: 2px;
}
.tab-pane{
height: 100%;
position: relative;
padding-left: 2vw;

}
.tab-cont{
  overflow-y: auto;
overflow-x: hidden;
left: 33.5%;
height: 55%;
  bottom: 6%;
  position: fixed;
}
#tabMenu{
  position: relative;
  height: 15%;
}

.lstuff{
  color: white;
  background-color: #212125;
height: 55%;
  bottom: 6%;
  position: fixed;

}
.lstuff>div{
   transform: rotate(-90deg);
   font-size: 9vh;
   position: relative;
   bottom: -30vh;
   font-weight: bold;
}

.tab-link:hover{
  color: #3F5866;
   text-decoration: none;
}
.tab-link:hover i{
  color: #4A7DBF;
}
/*.tab-link.active{
  color: white;
  background-color: #212125;
  display: none;
}*/
.tab-link a{
  text-decoration: none;
}
/*Инфо*/
#v-pills-history{

}
#v-pills-aim>p{
text-transform: none;
}
.thanks-ul>li{
  position: relative;
  right: 40px;
  list-style: none;
  text-transform: none; 
}
.clin-ul>li{
  position: relative;
  right: 40px;
  list-style: none;
}
 /*ТЕКСТ*/
 .font-cabin{
   font-family: Cabin, sans-serif;
 }
 .gray-header{
   color: #2f3f50;
 }
 .lh-2{
   line-height: 2em;
 }
.footer-1{

  width: auto;
  font-size: 25px;
  position: fixed;
  bottom: 2%;
  left:3vw;
  height: 5%;
}
.footer-1>a{
  color:white;
text-decoration: none;

  }
.footer-1>a>span{
  text-align: left;
  color: white;
  background-color: #212125;
  }
#carouselExampleControls{
  position: relative;
  top: 2px;
}


.oplata{
  color: white;
  background-color: #212125;
  border-radius: 0px;
}




.tab {
    overflow: hidden;
}


.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}


.tab a:hover {
    background-color: #FFEB3B;
}


.tab a.active {
    display: none;
}


.tabcontent {
    display: none;
      border-top:10px solid white;
      height: 55%;
  bottom: 6%;
  position: fixed;
}

.text-block{
    color: white;
  background-color: #212125;
  margin-left: 3px;
  font-size: 25px;
  padding-left: 3px;
  padding-right: 3px;
}

