@CHARSET "ISO-8859-1";
@font-face {
	font-family: 'Conv_RodchenkoCTT Regular';
	src: url('fonts/RodchenkoCTT Regular.eot');
	src: local('☺'), url('fonts/RodchenkoCTT Regular.woff') format('woff'), url('fonts/RodchenkoCTT Regular.ttf') format('truetype'), url('fonts/RodchenkoCTT Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#f2f2f2;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}

/* Custom CSS
 * --------------------------------------- */
body{
	font-family: Calibri, Arial, sans-serif;
	color: #f2f2f2;
}

p{
	font-size: 2em;
}
.section{
	text-align: center;
}





























@media (min-width: 1200px) {
	body{
		font-size: 1.4em;
	}
.section{
	padding-left: 5vw;
	text-align: left;
	width: 95vw;
}
.line1{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: -5vw;
	width: 50vw;
	border-top: 2px solid #e2a95d;

}
.line2{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: -5vw;
	width: 50vw;
	border-top: 2px solid #9a3d11;

}

.tabcontent {
box-sizing: border-box;
transition: right 0.5s;
position: relative;
}

#tabMenu{
	margin-top: 3vh;
}

.tab-links{
  padding-right: 15px;
  padding-left: 15px;
  width: 100px;
}
.tab-content{
    border-left: 1px solid gray;
    padding-left: 2vw;
    height: 100%;
}
.tab-link{
  box-sizing: border-box;
  font-size: 1.2em;
  border: none;
  color: black;
  border-radius: 0px;
  padding:0px;
  margin: 0px;

}

.tab-pane{
height: 100%;
position: relative;
padding-left: 2vw;
}
.tab-link:hover{
  color:#9a3d11;
   text-decoration: none;
}
.tab-link:hover i{
  color: #9a3d11;
}
.tab-link.active{
  color: #9a3d11;
}
.tab-link a{
  text-decoration: none;
}
.tab>ul>li{
	max-height: 50px ;
}
#logo{
	padding-left: 10vw;
	width: 40vw;
}
#logo>img{
	width: 80%;
	height: 80%;
}
.first_section{
	display: flex;
	flex-direction: row;
	jusify-content: center;
	align-items: flex-end;
}
#section1_text{
	font-size: 1.5em;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-left: 8vw;
	text-align: left;
	align-items: baseline;
}
#section1_text>img{
	max-height: 50px;
	margin-top: 10vh;

}
.phone{
	display: block;
	position: absolute;
	width: 7vw;
	
	right: 10vw;
	bottom: 5vh;
}
#teamSec{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.docInfo{
	color: black;
	margin-left: 5vw;
	display: flex;
	flex-direction: row;
	align-items: center;

}
.docInfo>img{
	height: 25vh;
	margin-right: 3vw;
}
#map{
	height: 100%;
	width: 40vw;
	position: absolute;
	left: 60vw;
	bottom: 0px;
}
 #docMob{
 	display: block;
 	position: absolute;
 	left: 45vw;
 }
 #teamCont{
 	width: 40vw;
 }
 h1{
 	font-size: 1.6em;
 }

}











@media (min-width: 992px) and (max-width: 1199px) {
.section{
	padding-left: 5vw;
	text-align: left;
	width: 95vw;
}
.line1{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: -5vw;
	width: 50vw;
	border-top: 2px solid #e2a95d;

}
.line2{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: -5vw;
	width: 50vw;
	border-top: 2px solid #9a3d11;

}

.tabcontent {
box-sizing: border-box;
transition: right 0.5s;
position: relative;
}

#tabMenu{
	margin-top: 3vh;
}

.tab-links{
  padding-right: 15px;
  padding-left: 15px;
  width: 100px;
}
.tab-content{
    border-left: 1px solid gray;
    padding-left: 2vw;
    height: 100%;
}
.tab-link{
  box-sizing: border-box;
  font-size: 1.2em;
  border: none;
  color: black;
  border-radius: 0px;
  padding:0px;
  margin: 0px;

}

.tab-pane{
height: 100%;
position: relative;
padding-left: 2vw;
}
.tab-link:hover{
  color:#9a3d11;
   text-decoration: none;
}
.tab-link:hover i{
  color: #9a3d11;
}
.tab-link.active{
  color: #9a3d11;
}
.tab-link a{
  text-decoration: none;
}
.tab>ul>li{
	max-height: 50px ;
}
#logo{
	padding-left: 10vw;
	width: 40vw;
}
#logo>img{
	width: 80%;
	height: 80%;
}
.first_section{
	display: flex;
	flex-direction: row;
	jusify-content: center;
	align-items: flex-end;
}
#section1_text{
	font-size: 1.5em;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-left: 8vw;
	text-align: left;
	align-items: baseline;
}
#section1_text>img{
	max-height: 50px;
	margin-top: 10vh;

}
.phone{
	display: block;
	position: absolute;
	width: 7vw;
	
	right: 10vw;
	bottom: 5vh;
}
#teamSec{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.docInfo{
	color: black;
	margin-left: 5vw;
	display: flex;
	flex-direction: row;
	align-items: center;

}
.docInfo>img{
	height: 25vh;
	margin-right: 3vw;
}
#map{
	height: 100%;
	width: 40vw;
	position: absolute;
	left: 60vw;
	bottom: 0px;
}
 #docMob{
 	display: block;
 	position: absolute;
 	left: 45vw;
 }
 #teamCont{
 	width: 40vw;
 }
 h1{
 	font-size: 1.4em;
 }

}






























@media (min-width: 768px) and (max-width: 991px) {
.section{
	padding-left: 5vw;
	text-align: left;
	width: 95vw;
}
.line1{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: -5vw;
	width: 50vw;
	border-top: 2px solid #e2a95d;

}
.line2{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: -5vw;
	width: 50vw;
	border-top: 2px solid #9a3d11;

}

.tabcontent {
box-sizing: border-box;
transition: right 0.5s;
position: relative;
}

#tabMenu{
	margin-top: 3vh;
}

.tab-links{
  padding-right: 15px;
  padding-left: 15px;
  width: 100px;
}
.tab-content{
    border-left: 1px solid gray;
    padding-left: 2vw;
    height: 100%;
}
.tab-link{
  box-sizing: border-box;
  font-size: 1.2em;
  border: none;
  color: black;
  border-radius: 0px;
  padding:0px;
  margin: 0px;

}

.tab-pane{
height: 100%;
position: relative;
padding-left: 2vw;
}
.tab-link:hover{
  color:#9a3d11;
   text-decoration: none;
}
.tab-link:hover i{
  color: #9a3d11;
}
.tab-link.active{
  color: #9a3d11;
}
.tab-link a{
  text-decoration: none;
}
.tab>ul>li{
	max-height: 50px ;
}
#logo{
	padding-left: 10vw;
	width: 40vw;
}
#logo>img{
	width: 80%;
	height: 80%;
}
.first_section{
	display: flex;
	flex-direction: row;
	jusify-content: center;
	align-items: flex-end;
}
#section1_text{
	font-size: 1.5em;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-left: 8vw;
	text-align: left;
	align-items: baseline;
}
#section1_text>img{
	max-height: 50px;
	margin-top: 10vh;

}
.phone{
	display: block;
	position: absolute;
	width: 5vw;
	
	right: 5vw;
	bottom: 5vh;
}
#teamSec{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.docInfo{
	color: black;
	margin-left: 5vw;
	display: flex;
	flex-direction: row;
	align-items: center;

}
.docInfo>img{
	height: 25vh;
	margin-right: 3vw;
}
#map{
	height: 100%;
	width: 40vw;
	position: absolute;
	left: 60vw;
	bottom: 0px;
}
 #docMob{
 	display: block;
 	position: absolute;
 	left: 45vw;
 }
 #teamCont{
 	width: 40vw;
 }
 h1{
 	font-size: 1.4em;
 }
 .longText{
	display: flex;
	flex-direction: column;
	height: 80vh;
	flex-wrap: wrap;
}
#bigText{
	font-size: 0.9em;
}
}





































@media (min-width: 480px) and (max-width: 767px) {
	body{
		font-size: 0.8em;
	}	
.section{
	padding-left: 5vw;
	text-align: left;
	width: 95vw;
}
.line1{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: -5vw;
	width: 50vw;
	border-top: 2px solid #e2a95d;

}
.line2{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: -5vw;
	width: 50vw;
	border-top: 2px solid #9a3d11;

}

.tabcontent {
box-sizing: border-box;
transition: right 0.5s;
position: relative;
}

#tabMenu{
	margin-top: 3vh;
}

.tab-links{
  padding-right: 15px;
  padding-left: 15px;
  width: 100px;
}
.tab-content{
    border-left: 1px solid gray;
    padding-left: 2vw;
    height: 100%;
}
.tab-link{
  box-sizing: border-box;
  font-size: 1.2em;
  border: none;
  color: black;
  border-radius: 0px;
  padding:0px;
  margin: 0px;

}

.tab-pane{
height: 100%;
position: relative;
padding-left: 2vw;
}
.tab-link:hover{
  color:#9a3d11;
   text-decoration: none;
}
.tab-link:hover i{
  color: #9a3d11;
}
.tab-link.active{
  color: #9a3d11;
}
.tab-link a{
  text-decoration: none;
}
.tab>ul>li{
	max-height: 50px ;
}
#logo{
	padding-left: 10vw;
	width: 40vw;
}
#logo>img{
	width: 80%;
	height: 80%;
}
.first_section{
	display: flex;
	flex-direction: row;
	jusify-content: center;
	align-items: flex-end;
}
#section1_text{
	font-size: 1em;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-left: 5vw;
	text-align: left;
	align-items: baseline;
}
#section1_text>img{
	max-height: 50px;
	margin-top: 10vh;

}
.phone{
	display: block;
	position: absolute;
	width: 7vw;
	
	right: 10vw;
	bottom: 5vh;
}
#teamSec{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.docInfo{
	color: black;
	margin-left: 5vw;
	display: flex;
	flex-direction: row;
	align-items: center;

}
.docInfo>img{
	height: 25vh;
	margin-right: 3vw;
}
#map{
	height: 100%;
	width: 40vw;
	position: absolute;
	left: 60vw;
	bottom: 0px;
}
 #docMob{
 	display: block;
 	position: absolute;
 	left: 45vw;
 }
 #teamCont{
 	width: 40vw;
 }
 h1{
 	font-size: 1.4em;
 }
 .longText{
	display: flex;
	flex-direction: column;
	height: 80vh;
	flex-wrap: wrap;
}
#bigText{
	font-size: 0.8em;
}
}



































@media (min-width: 321px) and (max-width: 479px) {
 body{
 	font-size: 0.9em;
 }

.section{
	padding-left: 5vw;
	padding-right: 5vw;
	text-align: left;
	width: 90vw;

}
.line1{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: -5vw;
	width: 50vw;
	border-top: 2px solid #e2a95d;

}
.line2{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: -5vw;
	width: 50vw;
	border-top: 2px solid #9a3d11;

}

.tabcontent {
box-sizing: border-box;
transition: right 0.5s;
position: relative;
}

#tabMenu{

}

.tab-links{
  padding-right: 15px;
  padding-left: 15px;
  width: 100px;
}
.tab-content{
    padding-left: 2vw;
    height: 100%;
}
.tab-link{
  box-sizing: border-box;
  font-size: 1.2em;
  border: none;
  color: black;
  border-radius: 0px;
  padding:0px;
  margin: 0px;

}

.tab-pane{
height: 100%;
position: relative;
padding-left: 2vw;
}
.tab-link:hover{
  color:#9a3d11;
   text-decoration: none;
}
.tab-link:hover i{
  color: #9a3d11;
}
.tab-link.active{
  color: #9a3d11;
}
.tab-link a{
  text-decoration: none;
}
.tab>ul>li{
	max-height: 50px ;
}
#logo{
	margin-top: 5vh;
text-align: center;
height: 40vh;

}
#logo>img{
	width: 100%;
	height: 100%;
}
.first_section{
	display: flex;
	flex-direction: column;
	jusify-content: center;
	align-items: center;
	width: 90vw;
	height: 100%;
}
#section1_text{
	font-size: 1.5em;
	margin-top: 8vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	text-align: center;
	align-items: center;
}
#section1_text>img{
	max-height: 50px;
	margin-top: 10vh;

}
.phone{
	display: block;
	position: absolute;
	width: 40px;
	height: 40px;
	right: 20px;
	bottom: 20px;
}
#teamSec{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.docInfo{
	margin-top: 5px;
	margin-bottom: 5px;
	color: black;

	display: flex;
	flex-direction: row;
	align-items: center;

}

.docInfo>span{

}
.docInfo>img{
	height: 15vh;
	margin-right: 3vw;
}
#map{
	height: 50vh;
	width: 100%;
	position: absolute;
	bottom: 0px;
}
 #docMob{
 	display: flex;
 	flex-direction: column;
 	height: 16vh;
 }
h1{
	font-size: 1.1em;
}
#bigText{
	font-size: 0.8em;
}
}















@media (max-width: 320px) {
 body{
 	font-size: 0.9em;
 }

.section{
	padding-left: 5vw;
	padding-right: 5vw;
	text-align: left;
	width: 90vw;

}
.line1{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: -5vw;
	width: 50vw;
	border-top: 2px solid #e2a95d;

}
.line2{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: -5vw;
	width: 50vw;
	border-top: 2px solid #9a3d11;

}

.tabcontent {
box-sizing: border-box;
transition: right 0.5s;
position: relative;
}

#tabMenu{

}

.tab-links{
  padding-right: 15px;
  padding-left: 15px;
  width: 100px;
}
.tab-content{
    padding-left: 2vw;
    height: 100%;
}
.tab-link{
  box-sizing: border-box;
  font-size: 1.2em;
  border: none;
  color: black;
  border-radius: 0px;
  padding:0px;
  margin: 0px;

}

.tab-pane{
height: 100%;
position: relative;
padding-left: 2vw;
}
.tab-link:hover{
  color:#9a3d11;
   text-decoration: none;
}
.tab-link:hover i{
  color: #9a3d11;
}
.tab-link.active{
  color: #9a3d11;
}
.tab-link a{
  text-decoration: none;
}
.tab>ul>li{
	max-height: 50px ;
}
#logo{
text-align: center;
padding-top: 5vh;
height: 40vh;
}
#logo>img{
	width: 100%;
	height: 100%;
}
.first_section{
	display: flex;
	flex-direction: column;
	jusify-content: center;
	align-items: center;
	width: 90vw;
	height: 100%;
}
#section1_text{
	font-size: 1.5em;
	margin-top: 5vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	text-align: center;
	align-items: center;
}
#section1_text>img{
	max-height: 50px;
	margin-top: 10vh;

}
.phone{
	display: block;
	position: absolute;
	width: 40px;
	height: 40px;
	right: 20px;
	bottom: 20px;
}
#teamSec{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.docInfo{
	margin-top: 5px;
	margin-bottom: 5px;
	color: black;

	display: flex;
	flex-direction: row;
	align-items: center;

}

.docInfo>span{

}
.docInfo>img{
	height: 15vh;
	margin-right: 3vw;
}
#map{
	height: 50vh;
	width: 100%;
	position: absolute;
	bottom: 0px;
}
 #docMob{
 	display: flex;
 	flex-direction: column;
 	height: 16vh;
 }
h1{
	font-size: 1.1em;
}

}













